.btn-reset {
	background: transparent;
	border: none;
	padding: 0;
}

.btn {
	background: transparent;
	position: relative;
	border: none;
	padding: .5rem .75rem;
	color: @color_3;
	font-family: @heading-font;
	text-decoration: none !important;
	display: inline-block;
	position: relative;
	line-height: 1;
	svg{
		fill: @color_1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		overflow: visible;
	}
	&:hover,
	&:focus-visible {
		color: @color_3;
		svg{
			fill: @color_4;
		}

	}
	&:focus{
		outline: none;
	}
	&:active {
		svg {
			fill: @color_5;

		}
	}
}