.main_header {
	position: fixed;
	z-index: 10;
	top: 1.5rem;
	left: 0;
	width: 100%;
	overflow: visible;
	.wrap_inner{
		display: flex;
		justify-content: space-between;
		align-items: start;
		> * {
			margin: 0;
			z-index: 1010;

		}
	}
}

// logo
//=======================================================================
.main_logo {
	line-height: 0;
	svg{
		height: 4.95rem;
		width: 7rem;
	}
}

// switch
//=======================================================================
#main_menu_switch{
	padding: 0;

	svg{
		width: 3rem;
		height: 3rem;
	}
}

#main_menu_switch[aria-expanded="false"]{
	svg .hamburger-close{
		display: none;
	}
}
#main_menu_switch[aria-expanded="true"]{
	svg .hamburger-open{
		display: none;
	}
}

// main menu
//=======================================================================
#main_menu_wrap{
	font-size: @h4_size;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: @basic_padding;
	background-color: @color_3;
	li{
		line-height: 1.4;
		margin-bottom: 1rem;
	}
	a{	
		.bright-red-hover();
		text-decoration: none;
	}
	.main-menu{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&::before{
			content: ""; //space-between fix, so that it begins from top
			height: @h2_size * 1.5;
		}
	}
}
.socials-menu{
		list-style: none;
		margin-bottom: 0;
		padding: 0;
		height: @h2_size;
		display: block;
		li{
			display: inline-block;
			&:not(:last-child){
				margin-right: @spacer * 0.75;
			}
			margin-bottom: 0;
		}
		a{
			text-decoration: none;
		}
}