

// logo
//=======================================================================
.main_logo {
	position: fixed;
	left: calc(var(--kiosk-wrap-padding) - .3rem);
	top: @spacer * .75;
	z-index: 900;
	line-height: 0;
	svg{
		height: 4.95rem;
		width: 7rem;
	}
}

// switch
//=======================================================================
#main_menu_switch{
	padding: 0;
	position: fixed;
	right: calc(var(--kiosk-wrap-padding) - .3rem);
	top: @spacer * .7;
	svg{
		width: 2.5rem;
		height: 2.5rem;
	}
}

#main_menu_switch[aria-expanded="false"]{
	svg .hamburger-close{
		display: none;
	}
}
#main_menu_switch[aria-expanded="true"]{
	svg .hamburger-open{
		display: none;
	}
}

// main menu
//=======================================================================
#main_menu_wrap{
	font-size: @h4_size;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: @color_3;
	li{
		line-height: 1.4;
		margin-bottom: 1rem;
	}
	a{	
		.bright-red-hover();
		text-decoration: none;
	}
	.main-menu{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&::before{
			content: ""; //space-between fix, so that it begins from top
			height: @h2_size * 1.5;
		}
	}
	
}
@media screen and (max-width:600px){
	#main_menu_wrap{
		.main-menu{
			::before{
			height: 5rem + 2 * @spacer;
		}
		li{
			margin-bottom: .75rem;
		}
		}
		
	}

}
.socials-menu{
		list-style: none;
		margin-bottom: 0;
		padding: 0;
		height: @h2_size;
		display: block;
		li{
			display: inline-block;
			&:not(:last-child){
				margin-right: @spacer * 0.75;
			}
			margin-bottom: 0;
		}
		a{
			text-decoration: none;
		}
}