// big_top
.page_homepage h1 {
	margin-bottom: 0px !important;
}


// big_top
//=============================================================================================
.big_top {
	overflow: unset;

	.big_top_overflow {
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

	}

	height: 100vh;
	height: 100svh;
	transition: height .5s ease;
	position: relative;

	.wrap_inner {
		position: relative;
		z-index: 2;
		height: 1080px;
		max-height: 100vh;
		max-height: 100svh;
	}

	.dates-wrap {
		z-index: 3;
		position: absolute;
		bottom: 1.2rem;
		margin: auto;
		width: 100%;
		pointer-events: none; //obstructing letters 
		color: #FFFF00;
		font-size: 1.6rem;
		text-align: center;
		line-height: 1.2;

		.event_name,
		.event_date_place {
			display: inline-block;
			width: 100%;
			pointer-events: all;

		}

		.event_name {
			max-width: 19rem;
		}

		.event_date_place {
			max-width: 30rem;
			display: block;
			margin: auto;
		}

		.event_place {
			display: inline-block;
			transform: rotate(-5deg)
		}
	}

}

@media screen and (max-width:600px){
	.big_top .dates-wrap{
		font-size: 1.3rem;
		.event_name {
			max-width: 15rem;
		}
	}
	
}


.big_top_animation_wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	display: block;
	width: 100%;
	aspect-ratio: 3300 / 2560;

	.big_top_bg {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#metronome_pendulum {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 3;
	}


}

#metronome_sound_on {
	&[aria-pressed="false"] {
		svg .on {
			display: none;
		}
	}

	&[aria-pressed="true"] {
		svg .off {
			display: none
		}
	}
	.bright-red-hover();
}


#animation_control {
	position: absolute;
	bottom: 1.4rem;
	left: var(--kiosk-wrap-padding);
	z-index: 4;
	display: flex;
	width: 25%;

	#metronome_sound_on {
		margin-right: .75rem;
		line-height: 0;
		font-size: 1.7rem;

	}

	.metronome-speed-wrapper {
		display: flex;
		flex-direction: column;
		letter-spacing: -0.05em;
		position: relative;
		bottom: -.25rem;
		flex-grow: 1;

		input[type="range"] {
			margin-bottom: 0;
		}

		.metronome-speed-string {
			text-align: center;
			line-height: 1rem;
		}

		@import 'input_range_style.less';
	}
}

.coming-soon{
	margin-top: @spacer * 0.75;
	margin-bottom: @spacer !important;
}

.rotate-minus-5 {
	display: inline-block;
	transform: rotate(-5deg);
}

.rotate-5 {
	display: inline-block;
	transform: rotate(5deg);

}

.page_homepage .main_logo {
	svg {
		display: none;
	}
}



@media (max-aspect-ratio: 3300 / 2560),  (max-width: 1000px) and (max-height: 650px)  {
	.kiosk-dancing-letter {
		display: none !important;
	}

	.page_homepage .main_logo {
		svg {
			display: block;
		}
	}

	.big_top_animation_wrapper {
		top: 0;
		height: 100%;
		width: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	#animation_control {
		flex-direction: column;
		align-items: start;
		width: auto;
		bottom: calc(50%);
		transform: translateY(50%);

		#metronome_sound_on {
			margin-right: 0;
			margin-bottom: .75rem;
		}

		.metronome-speed-wrapper {
			width: auto;
			left: -.3rem;

			.metronome-speed-slider-wrapper {
				height: 10rem;
				display: block;
				width: 1rem;

				&::before {
					transform: rotate(90deg);
					width: 10rem;
					height: .65rem;
					left: -3.8rem;
					top: calc(50% - .25rem);
				}

				order: 2;

			}

			input[type="range"] {
				width: 10rem;
				transform-origin: left;
				transform: rotate(270deg) translateX(-9.5rem) translateY(1rem);
				height: unset;
				position: relative;

				&::-moz-range-thumb {
					width: 1.3rem;
					height: 1.3rem;
				}

				&::-webkit-slider-thumb {
					width: 1.3rem;
					height: 1.3rem;
				}

				&::-ms-thumb {
					width: 1.3rem;
					height: 1.3rem;
				}

			}

			.metronome-speed-string {
				order: 1;
				margin-bottom: .75rem;

				.bpm {
					display: block;
				}
			}

		}
	}


}

// dancing letters
//=============================================================================================
.letters-pos-1 {
	--kiosk-k-first-top: 4%;
	--kiosk-k-first-left: 7%;
	--kiosk-i-top: unset;
	--kiosk-i-left: 27%;
	--kiosk-i-bottom: 30%;
	--kiosk-o-top: unset;
	--kiosk-o-left: 4%;
	--kiosk-o-right: unset;
	--kiosk-o-bottom: 20%;
	--kiosk-s-top: 15%;
	--kiosk-s-right: 15%;
	--kiosk-k-last-bottom: 30%;
	--kiosk-k-last-right: 3%;
}

.letters-pos-2 {
	--kiosk-k-first-top: 3%;
	--kiosk-k-first-left: 15%;
	--kiosk-i-top: 33%;
	--kiosk-i-left: 5%;
	--kiosk-i-bottom: unset;
	--kiosk-o-top: unset;
	--kiosk-o-left: 15%;
	--kiosk-o-right: unset;
	--kiosk-o-bottom: 17%;
	--kiosk-s-top: 45%;
	--kiosk-s-right: 20%;
	--kiosk-k-last-bottom: 5%;
	--kiosk-k-last-right: 3%;
}

.letters-pos-3 {
	--kiosk-k-first-top: 10%;
	--kiosk-k-first-left: 12%;
	--kiosk-i-top: 50%;
	--kiosk-i-left: 7%;
	--kiosk-i-bottom: unset;
	--kiosk-o-top: 5%;
	--kiosk-o-left: unset;
	--kiosk-o-right: 22%;
	--kiosk-o-bottom: unset;
	--kiosk-s-top: 27%;
	--kiosk-s-right: 5%;
	--kiosk-k-last-bottom: 5%;
	--kiosk-k-last-right: 10%;
}

.kiosk-dancing-letter {
	width: auto;
	position: absolute;
	display: inline-block;
	z-index: 2;
	@k_first_height: 11rem;

	&.k-first {
		height: @k_first_height;
	}

	&.i {
		height: @k_first_height * 0.92;
	}

	&.o {
		height: @k_first_height * 0.63;
	}

	&.s {
		height: @k_first_height * 0.76;
	}

	&.k-last {
		height: @k_first_height * 0.87;
	}

	&.k-first {
		left: var(--kiosk-k-first-left);
		top: var(--kiosk-k-first-top);
	}

	&.i {
		left: var(--kiosk-i-left);
		top: var(--kiosk-i-top);
		bottom: var(--kiosk-i-bottom);

	}

	&.o {
		left: var(--kiosk-o-left);
		top: var(--kiosk-o-top);
		right: var(--kiosk-o-right);
		bottom:  var(--kiosk-o-bottom);
	}

	&.s {
		right: var(--kiosk-s-right);
		top: var(--kiosk-s-top);
	}

	&.k-last {
		right: var(--kiosk-k-last-right);
		bottom: var(--kiosk-k-last-bottom);
	}
}


// program_button
//=============================================================================================
.program_button {
	margin-bottom: var(--kiosk-double-wrap-padding);
	text-align: center;
	font-size: @h4_size;
	.btn {
		&::after {
			content: " ↱"
		}
	}
}
@media screen and (max-width: 500px){
	.program_button .btn{
		display: block
		}
}

// articles_wrap
//=============================================================================================
@import 'homepage-articles.less';