// big_top
.page_homepage h1 {
	margin-bottom: 0px !important;
}


// big_top
//=============================================================================================
.big_top {
	overflow: unset;

	.big_top_overflow {
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

	}

	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	//transition: height .5s ease;
	position: relative;

	.wrap_inner {
		position: relative;
		z-index: 2;
		height: 1080px;
		max-height: 100vh;
	}
}


.big_top_animation_wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	display: block;
	width: 100%;
	aspect-ratio: 3300 / 2560;

	.big_top_bg {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#metronome_pendulum {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}


}

#metronome_sound_on {
	&[aria-pressed="false"] {
		svg .on {
			display: none;
		}
	}

	&[aria-pressed="true"] {
		svg .off {
			display: none
		}
	}

	.bright-red-hover();
}


#animation_control {
	position: absolute;
	bottom: 2rem;
	left: var(--wrap-padding);
	z-index: 3;
	display: flex;
	width: 25%;

	#metronome_sound_on {
		margin-right: .75rem;
		line-height: 0;
		font-size: 1.7rem;

	}

	.metronome-speed-wrapper {
		display: flex;
		flex-direction: column;
		letter-spacing: -0.05em;
		position: relative;
		bottom: -.25rem;

		input[type="range"] {
			margin-bottom: 0;
		}

		.metronome-speed-string {
			text-align: center;
			line-height: 1rem;
		}

		@import 'input_range_style.less';
	}
}


@media (max-aspect-ratio: 3300 / 2560) {
	.big_top_animation_wrapper {
		top: 0;
		height: 100%;
		width: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	#animation_control {
		flex-direction: column;
		align-items: start;
		width: auto;
		bottom: calc(50% - 4rem);
		#metronome_sound_on{
			margin-right: 0;
			margin-bottom: .75rem;
		}
		.metronome-speed-wrapper {
			width: auto;
			left: -.3rem;
			.metronome-speed-slider-wrapper{
				height: 8rem;
				display: block;
				&::before {
					transform: rotate(90deg);
					width: 8rem;
					height: .65rem;
					left: -2.8rem;
					top: calc(50% - .25rem);
				}
				order: 2;

			}
			input[type="range"] {
				writing-mode: vertical-lr;
				height: unset;
				position: relative;
				height: 100%;
			}
			.metronome-speed-string{
				order: 1;
				margin-bottom: .75rem;

				.bpm{
					display: block;
				}
			}
		
		}
	}


}

#slider-sprite {
	overflow: visible;

	.sprite_stroke {
		fill: @color_1;
		stroke: @color_1;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 18px;
	}

	.sprite_fore {
		fill: @color_3;
	}
}

.dates-wrap {
	z-index: 3;
	position: absolute;
	bottom: 1.2rem;
	margin: auto;
	width: 100%;
	color: #FFFF00;
	font-size: 1.6rem;
	text-align: center;
	line-height: 1.2;

	.event_name,
	.event_date_place {
		display: inline-block;
		width: 100%;
	}

	.event_name {
		max-width: 22rem;
	}

	.event_date_place {
		max-width: 30rem;
		display: block;
		margin: auto;
	}

	.event_place {
		display: inline-block;
		transform: rotate(-5deg)
	}
}

// program_button
//=============================================================================================
.program_button {
	text-align: center;

	.wrap_inner {
		padding: 50px 0;
		border-top: 2px solid @color_1;
		border-bottom: 2px solid @color_1;
	}
}

// articles_wrap
//=============================================================================================
.articles {
	margin-bottom: -40px;

	.articles_list {
		.flex();

		&.mCustomScrollbar {
			.flex_dir(column);
		}
	}


	.article_wrap {
		.flex_shrink(0);
		display: inline-block;
		width: 22vw;
		margin: (@basic_padding * .5) (@basic_padding * .25);
		pointer-events: all;
		transition: all 0.2s ease-in-out;

		&:first-child {
			margin-left: (@basic_padding)
		}

		&:last-child {
			margin-right: (@basic_padding)
		}

		@media (min-width: 901px) {
			&:hover {
				z-index: 3;
				transform: rotate(5deg);
			}
		}

		.img_wrap {
			position: relative;
			margin-bottom: 40px;
			padding-bottom: 74.8%;
			background: @img_bg;
			overflow: hidden;

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				width: 100%;
				-webkit-object-fit: cover;
				object-fit: cover;
				margin: auto;
			}
		}

		.title {
			overflow: hidden;

			a {
				text-decoration: none;
			}
		}

		.text {
			font-size: .8rem;
			margin-bottom: 1.6em;
			overflow: hidden;
		}
	}

	.mCustomScrollBox {
		width: calc(~"100% + @{double_padding}");
		max-width: calc(~"100% + @{double_padding}");
		margin: 0 -@basic_padding;
		pointer-events: none;
	}

	.mCSB_scrollTools {
		z-index: 0;

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: -50vw;
			right: -50vw;
			bottom: 0;
			width: 100vw;
			margin: auto;
			background: #fff;
		}
	}
}

@media screen and (max-width: 1650px) {
	.article_wrap {
		width: 30vw;
	}
}