@media (max-width: 1920px) {
	// base



	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		padding-bottom: calc(~"9px + 2.68vw");
	}

	// comming soon
	.page_id422 .title_wrap span {

		&::before {
			font-size: 0.3em;
		}
	}


}






@media (max-width: 1400px) {
	
	// archive
	.page_archive_list {
		.items {
			width: calc(~"100% + 50px");
			margin: -25px -25px 0;
		}

		.item {
			width: calc(~"(100% - 50px * 3) / 3");
			margin: 25px;
		}
	}
}

@media (max-width: 1200px) {

	// homepage
	.is_touch_device .big_top {
		.big_top_shadow {
			width: 212px;
			height: 172px;
			margin: 5px 0px 0 -2px;

			.shadow {
				box-shadow: inset 40px 33px 28px rgba(0, 0, 0, 0.2);
			}
		}

		.big_top_bg {
			-webkit-mask-size: 210px 180px;
			mask-size: 210px 180px;
		}
	}

	

	// archive
	.archive_detail_top {
		h1 {
			width: 100%;
			padding-right: 0;
		}

		.cont_wrap {
			display: block;
		}

	}
}



@media (max-width: 900px) {
	body {
		line-height: 1.35;
	}





	// archive
	.page_archive_list {
		.archive_list {
			width: calc(~"100% + 20px");
			margin: -10px;
		}

		.archive_item {
			width: calc(~"(100% - 20px * 3) / 3");
			margin: 10px;
		}
	}
}


@media (max-width: 600px) {

	// comming soon
	.page_id422 .title_wrap {
		margin-bottom: 50px;

		span {
			&::before {
				top: calc(~"100% - 1.5em");
				left: calc(~"100% - 1.5em");
				font-size: 0.4em;
			}
		}
	}

	// archive
	.page_archive_list {
		.archive_item {
			width: calc(~"(100% - 20px * 2) / 2");
		}
	}
}

@media (max-width: 500px) {
	// homepage


	// single
	/* 	.post_detail_bottom_decor {
		display: none;
	}
 */


	// archive
	.archive_detail_top {
		.img_wrap {
			float: none;
			max-width: 80%;
			margin: 0 auto 30px;
		}

		.text {
			display: block;
		}
	}
}


