.btn-reset {
	background: transparent;
	border: none;
	padding: 0;
}

.btn {
	background: transparent;
	position: relative;
	border: none;
	padding: .5rem .75rem;
	color: @color_3;
	font-family: @heading-font;
	text-decoration: none !important;
	display: inline-block; //safari on macOs is wrapping inline-block for unkown reason
	position: relative;
	line-height: 1;
	span{
			position: absolute;
		top: 0;
		left: 0;
				height: 100%;
		width: 100%;
		z-index: -1;

		svg{
			height: 100%;
			width: 100%;
		fill: @color_1;
		display: block;

		overflow: visible;
	}
	}
	
	&:hover,
	&:focus-visible {
		color: @color_3;
		svg{
			fill: @color_4;
		}

	}
	&:focus{
		outline: none;
	}
	&:active {
		svg {
			fill: @color_5;

		}
	}
}