.btn-reset {
	background: transparent;
	border: 0;
	padding: 0;

	appearance: none;
	-webkit-appearance: none;

	font: inherit;
	color: inherit;

	cursor: pointer;
	outline: none;
}

.btn {
	background: @color_1;
	font-size: 1.5rem;
	position: relative;
	border: none;
	padding: .5rem .75rem;
	color: @color_2;
	font-family: inherit;
	text-decoration: none !important;
	display: inline-block; //safari on macOs is wrapping inline-block for unkown reason
	position: relative;
	line-height: .9;
	border-radius: .2em;
	
	
	&:hover,
	&:focus-visible {
		background: @color_4;
		color: @color_2;

	}
	&:focus{
		outline: none;
	}
	&:active {
		background: @color_3;
	}
}