// big_top
.page_homepage h1 {
	margin-bottom: 0px !important;
}

.page_homepage .hero{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
	height: 100svh;
	overflow: hidden;

}

.page_homepage .dates-wrap{
	position: absolute;
	font-family: "Signal Compressed";
	z-index: 5;
	top: @spacer ;
	left: var(--kiosk-wrap-padding);
	filter: drop-shadow(8px 0px 20px rgba(0, 0, 0, .4));
	color: @color_2;
	font-size: clamp(3rem, 13vw, 4rem);
	line-height: .9;
	max-width: calc(100% - 7.5rem);
	.event_name, .event_date_place{
		display: block;
	}
}

@media (max-width: 600px){
	.page_homepage .dates-wrap{
		top: @spacer * .6;
	}
}


// program_button
//=============================================================================================
.program_button {
	margin-bottom: var(--kiosk-double-wrap-padding);
	text-align: center;
	font-size: @h4_size;
	.btn {
		&::after {
			content: " ➔"
		}
	}
}
@media screen and (max-width: 500px){
	.program_button .btn{
		display: block
		}
}

// articles_wrap
//=============================================================================================
@import 'homepage-articles.less';

@import 'homepage-video.less';