.page_post,
.page_default {

	.thumbnail_img {
		margin-left: calc(-1 * var(--kiosk-wrap-padding));
		margin-right: calc(-1 * var(--kiosk-wrap-padding));
		height: 50vh;
		background-position: repeat;
		background-repeat: repeat-x;
		background-size: auto 100%;
	}

	.title_wrap {
		position: relative;
		//padding-top: 500px;
		overflow: visible;
		margin-bottom: @basic_padding;
		margin-top: @basic_padding ;

		h1 {
			position: relative;
			margin-bottom: 0px;
		}
	}

	.text_wrap {
		.text>* {
			max-width: var(--kiosk-max-text-width);
		}

		.text .perex {
			max-width: var(--kiosk-max-text-width-wide);
		}

		.text>*:last-child {
			margin-bottom: 0px !important;
		}

		a {
			text-decoration: underline;
		}

		&,
		& .text {
			//float left images on larger screens used with negative right margin
			overflow: visible;
		}
	}

	.buy_button {
		margin-top: 40px;
	}
}

.wrap_inner.no_thumbnail_img {
	padding-top: @spacer + 4.95rem;

	.title_wrap {
		margin-top: 0px !important;
	}

}

.perex {
	font-size: @h4_size;
	font-family: @heading-font;
}

.publish_date+h1 {
	margin-top: @spacer;
}

.secondary-title {
	margin-top: (@spacer / 2);
}

.above-title-wrapper {
	margin-bottom: @spacer;
	display: flex;

	.english-link {
		text-decoration: none;
		&:not(:first-child) {
			margin-left: 1.5rem;
		}

		&::after {
			color: @color_4;
			content: " ↓↓↓";
		}
		
	}

}

.kiosk-english-separator{
	border: none;
	height: 2rem;
	background-image: url(./images/hr-arrows.svg);
	background-repeat: repeat-x;
	background-position: 50%;
	background-size: auto 2rem;
	width: 100%;
	position: relative;
	overflow: visible;
	margin-top: @double_padding;
	margin-bottom: @double_padding;

	&::after{
		line-height: 1;
		color: @color_5;
		font-family: @heading_font_stack_alt;
		font-size: 1.7rem;
		padding: .23em;
		padding-left: .26em;
		margin-left: -0.15em;
		margin-top: -0.1em;
		background-color: #fff;
		content: "EN";
		left: 50%;
		position: absolute;
		text-align: center;
		top: -.1rem;
		transform: translate(-50%);
	}
}